<!DOCTYPE html>
<html>
<head>
    <title>{{ skill.title }}</title>
</head>
<body>

<h1>{{ skill.title }}</h1>
<h2>Description</h2>
{{ skill.description| raw }}
<h2>Goals</h2>
<p>{{ skill.goals | raw }}</p>
<h3>Domain</h3>
<p>{{ skill.domainTag | first }}</p>
<h3>Links</h3>
<ul>
    {% for link in skill.links %}
    <li><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
    {% endfor %}
</ul>
<h3>Resources</h3>
<h4>Free Learning Material</h4>
<ul>
{% for skillset in relatedLearner %}
    <li><a href="{{ skillset.url }}" target="_blank">{{ skillset.name }}</a></li>
{% endfor %}
</ul>
<h4>Educational Training</h4>
<ul>
    {% for skillset in relatedEducation %}
    <li><a href="{{ skillset.url }}" target="_blank">{{ skillset.name }}</a></li>
    {% endfor %}
</ul>

<h4>Business Opportunities</h4>
<ul>
    {% for skillset in relatedBusiness %}
    <li><a href="{{ skillset.url }}" target="_blank">{{ skillset.name }}</a></li>
    {% endfor %}
</ul>

<h4>Certification</h4>
<ul>
    {% for skillset in relatedCertifier %}
    <li><a href="{{ skillset.url }}" target="_blank">{{ skillset.name }}</a></li>
    {% endfor %}
</ul>

</body>
</html>